.principal {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.bd-principal {
    background-color:black;
    height:100vh;
}
.tamanodiv {
    height:100vh;
}
.columns {
    display:flex;
    flex-direction:column;
}


.divider_principal {
    display: flex;
}
.ly-main {
    background-color: red;
    height: 80vh;
}
body {
    color: white;
    font-family: 'Playfair Display', serif;
}

.dvrit {
 
    width: 20%;
}

.nv2 {
    width: 100%;
  
   
}



.dvnav2 {
    width: 100%;
    overflow-y:auto;
   
}

a {
    text-decoration: none;
}
#itenuser {
   position:relative;
   left:90%;
}
#aocultar {
    position: relative;
    left: 10%;

    background-color: none;
   
}
@media only screen and (max-width: 730px) {
    .dvrit {
        width: 30%;
    }
}

@media only screen and (max-width: 690px) {
    .dvrit {
        width: 35%;
    }
}
@media only screen and (max-width: 600px) {
    .divider_principal {
       flex-direction:column;
    }
    .dvrit {
        width: 100%;
        height:7em;
    }
    .tamanodiv {
        height: 20vh;
       
    }
    .columns {
        flex-direction:row;
    }
    #icons1 {
        display: none;
    }

}


