
.principalmeta {
    width: 100%;
    height: 93vh;
    display:flex;
}

.metadata1 {
    width: 20em;
    height: 20em;
    
}
.metadata2 {
    width: 20em;
    height: 20em;
    
}
.metadata3 {
    width: 20em;
    height: 20em;
}
.metadata4 {
    width: 20em;
    height: 20em;
}