
@{
    ViewBag.Title = "RPEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<main class="maincl">
    <div class="principal1">
        <div class="card">
            <div>
                <div class="dv1 mr-1">
                    <div class="input-group mb-3 mr-2">
                        <span class="input-group-text" id="basic-addon1">Desde</span>
                        <input type="date" class="form-control pr-2" id="Desde" aria-label="Nombre de usuario" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="divider"></div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Hasta</span>
                        <input type="date" class="form-control metrica" id="Hasta" aria-label="Nombre de usuario" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="divider"></div>
                    <select id="tipo" class="form-select" aria-label="Default select example">
                        <option selected>Abre este menú select</option>
                        <option value="1">Dominical</option>
                        <option value="2">Oracion</option>
                        <option value="3">Reunion de Jovenes</option>
                    </select>
                </div>
                <div class="dv2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">usuario</span>
                        <input type="text" class="form-control " id="user" placeholder="Nombre de usuario" aria-label="Nombre de usuario" aria-describedby="basic-addon1" required>
                        <button type="button" onclick="buscar()" class="btn btn-success mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                            Buscar
                        </button>
                    </div>

                </div>
            </div>

        </div>
        <div Id="Revent" style="display:none">
            <div class="p-3 text-bg-light" style="color:white;">
                <table id="Catalogevent" class="table  table-striped">
                    <thead>
                        <tr>
                            <th>Eventoid</th>
                            <th>Evento</th>
                            <th>Fecha</th>
                            <th>Lugar</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
  

    <div  class="contenedor_P bg-light" style="text-align:center">
        <div class="elemento_S" id="hot"></div>
    </div>


</main>



<script>

    function buscar() {
        
               var url2 = "@Url.Action("Reportvento", "Event")";
        data = {
            FI: $("#Desde").val(),
            FF: $("#Hasta").val(),
            USER: $("#user").val(),
        }
        console.log(data);
               $.post(url2, data).done(function (data) {
                   console.log(data);
                   Mostrarxls(data.data)
               });
      
        
    }

    function Mostrarxls(data){
         

        // Configuración de Handsontable
        var container = document.getElementById('hot');
        var hot = new Handsontable(container, {
            licenseKey: 'non-commercial-and-evaluation',
            data: data,
            colHeaders: ['ID', 'Nombre', 'Fecha', 'LugarEvento', 'Descripcion', 'estado', 'Usuario','Cargo'],
            columns: [
                { data: 'IdEvento' },
                { data: 'Nombre' },
                { data: 'Fecha' },
                { data: 'LugarEvento' },
                { data: 'Descripcion' },
                { data: 'estado' },
                { data: 'Usuario' },
                { data: 'Cargo' },
                
            ]
        });
    }
    function Mostrarevent()
    {
        document.getElementById("Revent").style.display =""

    }
</script>