
@{
    ViewBag.Title = "Adduser";
    Layout = "~/Views/Shared/_Layout.cshtml";
<h1 class="text-black border-bottom border-info shadow-lg" style="margin-top:0.1em;">AÑADIR USUARIO</h1>
}

<form  class="m-2 mt-5 h-100 border border-3 text-black border-dark rounded p-3 ">
    <div class="row mt-3">
        <div class="col">
            <div class="mb-3 ">
                <label for="exampleInputEmail1" class="form-label border-bottom border-info">Nombre Completo</label>
                <input type="text" class=" shadow form-control bg-secondary bg-gradient" id="nombrecompleto" required aria-describedby="Descrip">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Edad</label>
                <input type="number" class=" shadow form-control bg-secondary bg-gradient" required id="edad">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Numero</label>
                <input type="number" class=" shadow form-control bg-secondary bg-gradient" required id="numero">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Contrasena</label>
                <input type="password" class=" shadow form-control bg-secondary bg-gradient" required id="edad">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Usuario</label>
                <input type="text" class=" shadow form-control bg-secondary bg-gradient" required id="usuario">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Email</label>
                <input type="Text" class=" shadow form-control bg-secondary bg-gradient" required id="email">
            </div>
            <div class="row mb-3">
                <div class="row ms-1 mb-3">
                    <label for="exampleInputPassword1" class="form-label border-bottom border-info ">Fecha Bautismo</label>
                    <input type="date" class=" shadow form-control bg-secondary bg-gradient" required id="Fbautismo">
                </div>

                <div class="row ms-1 mb-3">
                    <label for="exampleInputPassword1" class="form-label border-bottom border-info">Fecha Ingreso</label>
                    <input type="date" class=" shadow form-control bg-secondary bg-gradient" required id="exampleInputUbicacion">
                </div>            
            </div>
        </div>
    </div>
  
  

      
    <div class="d-flex mb-5">
        <label for="exampleInputPassword1" class="form-label me-2">Sexo</label>
        <select class="shadow form-select bg-secondary bg-gradient" aria-label="Default select example">
            <option selected value="1">M</option>
            <option value="2">F</option>
        </select>
        <label for="exampleInputPassword1" class="form-label me-2">Cargo</label>
        <select class="shadow form-select bg-secondary bg-gradient" aria-label="Default select example">
            <option selected value="1">Miembro</option>
            <option value="2">Lider</option>
            <option value="3">Diacono</option>
        </select>
    </div>
    <button type="submit" class="mb-3 shadow w-50 m-auto btn btn-primary">Aceptar</button>
</form>
