
@{
    ViewBag.Title = "Cataloguser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h2 class="text-black border-bottom border-info shadow-lg" style="margin-top:0.1em;">BUSCAR USUARIO</h2>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<main id="mainprincipal" class="principalMAIN">

    <div class="p-3 text-bg-light" style="color:white;">
        <table id="adduser" class="table  table-striped">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Fecha_bautismo</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
@section scripts{
    <script>


          var url = "@Url.Action("MIEMBROS", "Home")";
          var data = { header:"elo"};
        var datatable;
        datatable = $("#adduser").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url,
                data
            },
            "columns": [
                { "data": "Nombre_Completo" },
                { "data": "Direccion" },
                { "data": "Email" },
                { "data": "Sexo" },
                { "data": "Fecha_bautismo" },
                {
                    "data": "activo", "render": function (valor) {
                        if (valor == 0) {

                            return '<span class="badge bg-success">NO</span>'
                        }
                        else return '<span class="badge bg-success">SI</span>'
                    }
                }
            ]
        })
/*        data - bs - toggle="modal" data - bs - target="#exampleModal"*/
        function active() {

          /*  document.getElementsByClassName("form-check-input").addEventListener("click", alert("hello"));*/
            document.querySelectorAll(".form-check-input").forEach(el => {
                el.addEventListener("click", e => {
                    const id = e.target.getAttribute("id");
                    console.log("Se ha clickeado el id " + id);
                });
            });

        }

    </script>
}