
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error</title>
    <link href="~/Content/error.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="error-view-background">
        <div class="center-mesage">
            <div class="card-error">
                <div class="itemimage">
                    <img style="height:20vh" src="~/Content/Res/404.png" />
                </div>
                <div class="card-body">
                    <p><span class="">PAGINA NO ENCONTRADA</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
