@{
    ViewBag.Title = "Home Page";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/stylemetada")
</head>

<main class="principalMAIN bg-dark">
    <div class="row mb-2">
        <div class="col">
            <canvas id="grafica" class="container-fluid"></canvas>
        </div>

        <div class="col">
            <canvas id="grafica2" class="container-fluid"></canvas>
        </div>
    </div>
    <div class="bg-dark mb-3" id="resicler" style="width: 100%; height: auto;">
        <div class="container text-center" style="overflow-x:auto">
            <div class="d-flex container ">
                <div class="container">
                    <div class="gradientechange border-dark container h-auto m-1">
                        <div class="p-2 d-flex">
                            <div class="p-1 bg-clcss bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar4-event text-light" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                </svg>
                            </div>
                            <div class="p-2" id="icon1">
                                <p class="card-text">01-01-2023</p>
                            </div>
                        </div>
                        <hr class="hrclas" />
                        <div class="d-flex">
                            <a class=" text-light ml-1" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </a>
                            <h6 id="text1" class="card-subtitle  text-light">Eventos Pendientes</h6>

                            <!-- Modal -->
                            <div class="modal fade text-black" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-black">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Nombre:</label>
                                                    <p class="" id="Nombre1"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Fecha :</label>
                                                    <p id="pFecha"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Lugar :</label>
                                                    <p id="Lugar"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Estado :</label>
                                                    <p id="Estado">Sin Aprobar</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="gradientechange border border-dark  container h-auto m-1">
                        <div class="p-2 d-flex">
                            <div class="p-1 bg-clcss bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar4-event text-light" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                </svg>
                            </div>
                            <div class="p-2" id="icon1">
                                <p class="card-text text-light">01-01-2023</p>
                            </div>
                        </div>
                        <hr class="hrclas" />
                        <div class="d-flex">
                            <a class="text-light ml-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </a>
                            <h6 id="text2" style="margin-left: 7em;" class="card-subtitle  text-light">Eventos Pendientes</h6>
                            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog  text-black">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Nombre:</label>
                                                    <p id="Nombre2"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Fecha :</label>
                                                    <p id="pFecha2"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Lugar :</label>
                                                    <p id="Lugar2"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Estado :</label>
                                                    <p id="Estado">Sin Aprobar</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="gradientechange border border-dark container h-auto m-1">
                        <div class="p-2 d-flex">
                            <div class="p-1 bg-clcss bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar4-event text-light" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                </svg>
                            </div>
                            <div class="p-2" id="icon1">
                                <p class="card-text text-light">01-01-2023</p>
                            </div>
                        </div>
                        <hr class="hrclas" />
                        <div class="d-flex">
                            <a class="text-light ml-1" onclick="mostrar()" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </a>
                            <h6 id="text3" style="margin-left: 7em;" class="card-subtitle  text-light">Dominical</h6>

                            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog text-black">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Nombre:</label>
                                                    <p class="text-black" id="Nombre3"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Fecha :</label>
                                                    <p id="pFecha3"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Lugar :</label>
                                                    <p id="Lugar3"></p>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="d-flex container">
                                                    <label>Estado :</label>
                                                    <p id="Estado">Sin Aprobar</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--<div class="p-3 bg-dark" style="color:white;">
        <table id="datas" class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Eventoid</th>
                    <th>Fecha</th>-->
    @*<th>Nombre</th>
        <th>Lugar</th>*@
    <!--</tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>-->

    <div class="p-3 bg-dark" style="color:white;">
        <table id="datas" class="table  table-dark">
            <thead>
                <tr>
                    <th>Eventoid</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Lugar</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    @Scripts.Render("~/bundles/metadata")
</main>
@section scripts{
    <script>

        mostrar();
          var url = "@Url.Action("Evento", "Home")";
          var data = { header:"elo"};
        var datatable;
        datatable = $("#datas").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url,
                data
            },
            "columns": [
                { "data": "IdEvento" },
                { "data": "Nombre" },
                { "data": "Fecha" },
                { "data": "LugarEvento" },
                { "data": "Descripcion" }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            }
        });

        var fother = document.getElementById("datas_info");
        fother.style.color = "white"
        function mostrar() {
            let url = "@Url.Action("EventoPendiente", "Home")";
            $.post({
                url, data})
                .fail(function () {
                    alert("error");
                })
                .done(function (data) {
                    // variables modal
                    console.log(data);
                    var sr = document.querySelector("#Nombre1");
                    var fc = document.querySelector("#pFecha");
                    var lg = document.querySelector("#Lugar");
                    var tx1 = document.querySelector("#text1");
                    var sr1 = document.querySelector("#Nombre2");
                    var fc1 = document.querySelector("#pFecha2");
                    var lg1 = document.querySelector("#Lugar2");
                    var tx2 = document.querySelector("#text2");
                    var sr2 = document.querySelector("#Nombre3");
                    var fc2 = document.querySelector("#pFecha3");
                    var lg2 = document.querySelector("#Lugar3");
                    var tx3 = document.querySelector("#text3");
                    //insercion de valores a modal
                    sr.innerText = data.data["0"].Nombre;
                    tx1.innerText = data.data["0"].Nombre;
                    fc.innerText = data.data["0"].Fecha;
                    lg.innerText = data.data["0"].LugarEvento;
                    console.log(data.data["0"].Nombre);

                    sr1.innerText = data.data["1"].Nombre;
                    tx2.innerText = data.data["1"].Nombre;
                    fc1.innerText = data.data["1"].Fecha;
                    lg1.innerText = data.data["1"].LugarEvento;

                    sr2.innerText = data.data["2"].Nombre;
                    tx3.innerText = data.data["2"].Nombre;
                    fc2.innerText = data.data["2"].Fecha;
                    lg2.innerText = data.data["2"].LugarEvento;


                });
        }

    </script>
    
    }
