@{
    ViewBag.Title = "Home Page";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficas con chart.js | By Parzibyte</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    @Styles.Render("~/Content/stylemetada")
</head>

<main class="principalMAIN bg-dark">
    <div class="flex_div">
        <div class="fg_principal border border-light">
            <canvas id="grafica"></canvas>
        </div>
        <div class="principalmeta">

            <div class="metadata1 border border-light">
                <canvas id="grafica2"></canvas>
            </div>

            <div class="metadata2 border border-light">
                <canvas id="grafica3"></canvas>
            </div>
        </div>
    </div>
    <div class="bg-dark mb-3" id="resicler" style="width: 100%; height: 160px; margin: 0 auto;">
        <div class="text-center">

            <div class="row">
                <div class="col">
                    <div class="card gradientechange border-dark" style="width: 16rem; height: 8rem">
                        <div class="p-1 d-flex">
                            <div class="p-2 bg-clcss bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar4-event text-light" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                </svg>
                            </div>
                            <div class="p-2" id="icon1">
                                <p class="card-text text-light">01-01-2023</p>
                            </div>
                        </div>
                        <hr class="hrclas" />
                        <div class="d-flex">
                            <a class=" text-light ml-1"data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </a>
                            <h6 id="text1" class="card-subtitle  text-light">Dominical</h6>
                            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>modal1</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card gradientechange border border-dark" style="width: 16rem; height: 8rem">
                        <div class="p-1 d-flex">
                            <div class="p-2 bg-clcss bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar4-event text-light" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                </svg>
                            </div>
                            <div class="p-2" id="icon1">
                                <p class="card-text text-light">01-01-2023</p>
                            </div>
                        </div>
                        <hr class="hrclas" />
                        <div class="d-flex">
                            <a class="text-light ml-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </a>
                            <h6 id="text1" class="card-subtitle  text-light">Dominical</h6>
                            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>modal2</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card gradientechange border border-dark" style="width: 16rem; height: 8rem">
                        <div class="p-1 d-flex">
                            <div class="p-2 bg-clcss bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar4-event text-light" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                </svg>
                            </div>
                            <div class="p-2" id="icon1">
                                <p class="card-text text-light">01-01-2023</p>
                            </div>
                        </div>
                        <hr class="hrclas" />
                        <div class="d-flex">
                            <a class="text-light ml-1" onclick="mostrar()" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </a>
                            <h6 id="text1" class="card-subtitle  text-light">Dominical</h6>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>modal3</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  

    <div class="p-3 bg-dark text-bg-light" style="color:white;">
        <table id="datas" class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Eventoid</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Lugar</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    @Scripts.Render("~/bundles/metadata")
</main>
@section scripts{
    <script>
          var url = "@Url.Action("Evento", "Home")";
          var data = { header:"elo"};
        var datatable;
        datatable = $("#datas").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url,
                data
            },
            "columns": [
                { "data": "IdEvento" },
                { "data": "Nombre" },
                { "data": "Fecha" },
                { "data": "LugarEvento" }
            ]
        })
        function mostrar() {



            $.post({
                url, data})
                .fail(function () {
                    alert("error");
                })
                .done(function (data) {

                    console.log(data);

                });



        }

    </script>
    
    }
