
@{
    ViewBag.Title = "Addevent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h2 class="text-black border-bottom border-info shadow-lg mt-05" >AÑADIR EVENTO</h2>

}

<form class="m-2 mt-5 h-100 border border-3 text-black border-dark rounded p-3 ">
    <div class="row mt-2">
        <div class="col">
            <div class="mb-3 ">
                <label for="exampleInputEmail1" class="form-label border-bottom border-info">Nombre del evento</label>
                <input type="text" class=" shadow form-control " id="nombreevento" required aria-describedby="Descrip">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Ubicacion del evento</label>
                <input type="text" class=" shadow form-control " required id="ubicacion">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Descripcion</label>
                <input type="text" class=" shadow form-control " required id="desc">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label border-bottom border-info">Fecha</label>
                <input type="date" class=" shadow form-control " required id="Fecha">
            </div>
        </div>
    </div>




    <div class="row mb-5">

        <div class="col">
            <span>Transporte</span>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    SI
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    NO
                </label>
            </div>
        </div>

    </div>
    <button type="" onclick="addevent()" class="mb-3 shadow w-50 m-auto btn btn-primary">Aceptar</button>
  
</form>
<script>

    function obtenertransporte() {
        let datasdf;
        if (datasdf = document.getElementById("flexRadioDefault1").checked) {
            return "C"
        } else if (datasdf = document.getElementById("flexRadioDefault2").checked) {
            return "c"
        } else return "C"
    }
    function eventomostrar() {
        var EVENTO = {

            Nombre: $("#nombreevento").val(),
            Fecha: $("#Fecha").val(),
            LugarEvento: $("#ubicacion").val(),
            Transporte: obtenertransporte(),
            Descripcion: $("#desc").val()
        }
        console.log(EVENTO)
    }

    function addevent() {
    
            let hoy = new Date();
            let DIA_EN_MILISEGUNDOS = 24 * 60 * 60 * 1000;
            let ayer = new Date(hoy.getTime() - DIA_EN_MILISEGUNDOS);
             
        

       
        var sd = document.getElementById("identityuser").innerHTML
        var EVENTO = {

            Nombre : $("#nombreevento").val(),
            Fecha :  $("#Fecha").val(),
            LugarEvento : $("#ubicacion").val(),
            Transporte : obtenertransporte(),
            Descripcion: $("#desc").val(),
            PARAN1: sd
        }


        console.log(EVENTO)

          var url2 = "@Url.Action("AddingEvent", "Home")";

        data = {
            obj: EVENTO
        }
        const fecha = new Date(EVENTO.Fecha + "T12:00:00");
        console.log(fecha);
        if (fecha > ayer ) {        
            $.post(url2, data).done(function (data) {
                console.log(data);
            });
           
        } else {
            alert("La fecha no deve ser menor al del dia de hoy: " + ayer);
        }
       }


</script>