
@{
    ViewBag.Title = "Catalogevent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h2 class="text-black border-bottom border-info shadow-lg mt-05">BUSCAR EVENTO</h2>
}
<!-- Modal -->
<div class="modal fade" id="Formmodaldeleteevent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title " id="exampleModalLabel">Eliminar evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 ">
                    <input type="hidden" class=" shadow form-control bg-secondary" id="IdEvento" required aria-describedby="Descrip">
                </div>
                <div class="mb-3 ">
                    <label for="exampleInputEmail1" class="form-label text-black border-bottom border-info">Nombre del evento</label>
                    <input type="text" class=" shadow form-control bg-secondary" id="Nombre" required aria-describedby="Descrip">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="deleteevent()" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal asistencias -->
<div class="modal fade" id="Formmodalasistencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title " id="exampleModalLabel">Modificar evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 ">
                    <input type="hidden" class=" shadow form-control bg-secondary" id="IdEventoM" required aria-describedby="Descrip">
                </div>
                <div class="mb-3 ">
                    <label for="exampleInputEmail1" class="form-label text-black border-bottom border-info">Nombre del evento</label>
                    <input type="text" class=" shadow form-control bg-secondary" id="NombreE" required aria-describedby="Descrip">
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label for="exampleInputEmail1" class="form-label text-black border-bottom border-info">Ubicacion</label>
                        <input type="text" class=" shadow form-control bg-secondary" id="UB" required aria-describedby="Descrip">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label for="exampleInputEmail1" class="form-label text-black border-bottom border-info">Descripcion</label>
                        <input type="text" class=" shadow form-control bg-secondary" id="DESc" required aria-describedby="Descrip">
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleInputEmail1" class="form-label text-black border-bottom border-info">Transporte</label>
                        <select class="form-select" id="transp" aria-label="Default select example">
                            <option value="C">Si</option>
                            <option value="c">No</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelupdate" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Modevent()" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<main id="mainprincipal" class="principalMAIN">

    <div class="p-3 text-bg-light" style="color:white;">
        <table id="Catalogevent" class="table  table-striped">
            <thead>
                <tr>
                    <th>Eventoid</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Lugar</th>
                    <th>Descripcion</th>
                    <th>Transporte</th>
                    <th>Eliminar evento</th>
                    <th>Registrar Asistencia</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
@section scripts{
    <script>
          var url = "@Url.Action("Evento", "Home")";
          var data = { header:"elo"};
        var datatable;
        datatable = $("#Catalogevent").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url,
                data
            },
            "columns": [
                { "data": "IdEvento" },
                { "data": "Nombre" },
                { "data": "Fecha" },
                { "data": "LugarEvento" },
                { "data": "Descripcion" },
                {
                    "data": "Transporte", "render": function (valor) {
                        if (valor == 'c') {

                            return '<button type="button" class="btn me-2 btn-editar btn-danger">NO</button>'
                        }
                        else {
                            return '<button type="button" class="btn btn-editar me-2 btn-success">SI</button>'
                        }
                    }
                },
                {
                    "defaultContent": `<button type="button" class="btn btn-danger btn-delete">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" text-light bi bi-trash-fill " viewBox="0 0 16 16">
                             <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                                Eliminar
                               </button> `,
                    "orderable": false,
                    "searchable": false

                }, {
                    "defaultContent": `<button type="button" class="btn btn-success btn-asistencia">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" text-light bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
                    Modificar</button>`,
                    "orderable": false,
                    "searchable": false

                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            }
        });

        function abrirModalreset(json) {
            console.log(json);
            if (json != null) {

                $("#IdEvento").val(json.IdEvento)
                $("#Nombre").val(json.Nombre)
            }
            $('#Formmodaldeleteevent').modal('show');
        }
        $("#Catalogevent tbody").on("click", '.btn-delete', function () {

            var filaselccionada = $(this).closest("tr");

            var data = datatable.row(filaselccionada).data();

            console.log(data)

            abrirModalreset(data);

        });

        function abrirModalasistencia(json) {
            console.log(json);
            if (json != null) {

                $("#IdEventoM").val(json.IdEvento)
                $("#NombreE").val(json.Nombre)
                $("#UB").val(json.LugarEvento)


                if (json.Descripcion.length > 50) {

                    $("#DESc").val(json.Descripcion.substring(0, 50) + "...")
                } else {
                    $("#DESc").val(json.Descripcion)
                }
            }
            $('#Formmodalasistencia').modal('show');
        }
        $("#cancelupdate").on("click", function () {


                $("#IdEventoM").empty()
                $("#NombreE").empty()
                $("#UB").empty()
                $("#DESc").empty()


        });
        $("#Catalogevent tbody").on("click", '.btn-asistencia', function () {

            var filaselccionada = $(this).closest("tr");

            var data = datatable.row(filaselccionada).data();

            console.log(data)


            if (data != undefined) {
                abrirModalasistencia(data)
            } else {
                var filaSeleccionada = $("tr.parent"); // Selecciona la fila específica por su clase o cualquier otro selector

                console.log("fila")
                var data = {
                    IdEvento: filaSeleccionada.find("td:eq(0)").text(), // Obtiene el texto de la primera celda (td)
                    Nombre: filaSeleccionada.find("td:eq(1)").text(), // Obtiene el texto de la segunda celda (td)
                    Descripcion: filaSeleccionada.find("td:eq(4)").text(), // Obtiene el texto de la tercera celda (td)
                    LugarEvento: filaSeleccionada.find("td:eq(3)").text() // Obtiene el texto de la cuarta celda (td)

                };
                abrirModalasistencia(data)
                //abrirModalasis(data)
            }

        });

        function deleteevent() {
              var EVENTO = {
                  IdEvento: $("#IdEvento").val()
                }

            var url2 = "@Url.Action("deleteevent", "Home")";

            data = { obj : EVENTO }
            $.post(url2, data).done(function (data) {
                console.log(data);
            });


            window.location.reload()

        }

        $("#asistencia tbody").on("click", '.btn-asis', function () {

            var filaselccionada = $(this).closest("tr");

            var data = datatable.row(filaselccionada).data();

            console.log(data)

            abrirModalasis(data)

        });

        function Modevent() {
              var EVENTO = {
                  IdEvento: $("#IdEventoM").val(),
                  Nombre: $("#NombreE").val(),
                  LugarEvento: $("#UB").val(),
                  Descripcion: $("#DESc").val(),
                  Transporte: $("#transp").val(),

                }

            let urlmod = "@Url.Action("Modificarevento", "Event")";

            data = { obj : EVENTO }
            $.post(urlmod, data).done(function (data) {
                console.log(data);
            });


            window.location.reload()

        }
    </script>


}