
@{
    ViewBag.Title = "Catalogevent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="mainprincipal" class="principalMAIN">

    <div class="p-3 text-bg-light" style="color:white;">
        <table id="Catalogevent" class="table  table-striped">
            <thead>
                <tr>
                    <th>Eventoid</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Lugar</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
@section scripts{
    <script>
          var url = "@Url.Action("Evento", "Home")";
          var data = { header:"elo"};
        var datatable;
        datatable = $("#Catalogevent").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url,
                data
            },
            "columns": [
                { "data": "IdEvento" },
                { "data": "Nombre" },
                { "data": "Fecha" },
                { "data": "LugarEvento" },
                { "data": "Descripcion" }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            }
        })

    </script>
}